@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\000036}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000310}}
.input-prepend input, .input-prepend .add-on, .input-append input, .input-append .add-on {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000313}}
h1, h2, h3, h4, h5, p, a, span, div, article, body {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000316}}
input, textarea {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000319}}
html {
  color: white;
  position: relative;
  min-height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000324}}
body {
  background-color: #3366cc;
  background-image: url("/img/bg-texture.png");
  background-repeat: repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000329}}
#wrapper {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000332}}
#main {
  width: 600px;
  margin: 0 auto;
  min-height: 500px;
  text-align: center;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000339}}
#main .bg {
  background: black 0 0 repeat fixed;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000346}}
#main .title {
  width: 100%;
  text-align: center;
  padding-top: 70px;
  margin-left: -50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000352}}
#main .title .intro-line {
  position: relative;
  border-top: 1px solid #ededed;
  width: 700px;
  margin: 0 auto 25px auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000358}}
#main .title h1 {
  color: white;
  font-size: 56px;
  font-weight: 700;
  position: relative;
  margin-bottom: 15px;
  width: 700px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000365}}
#main .title h1.small {
  font-size: 17px;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000369}}
#main .title h1 a {
  text-decoration: none;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000372}}
#main .title h1 a:hover {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000375}}
#main .file-uploader {
  width: 100%;
  margin-bottom: 270px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000379}}
#main .file-uploader #upload-form {
  margin: 0 auto;
  text-align: left;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 1px 3px 5px 1px rgba(255, 255, 255, 0.3), 1px 3px 3px 1px rgba(255, 255, 255, 0.1) inset;
  -moz-box-shadow: 1px 3px 5px 1px rgba(255, 255, 255, 0.3), 1px 3px 3px 1px rgba(255, 255, 255, 0.1) inset;
  box-shadow: 1px 3px 5px 1px rgba(255, 255, 255, 0.3), 1px 3px 3px 1px rgba(255, 255, 255, 0.1) inset;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000389}}
#main .file-uploader #password-field {
  width: 95%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000391}}
#main .file-uploader #password {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\0000396}}
#footer-content {
  background: black;
  width: 100%;
  margin: 0;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003106}}
#footer-content article {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003110}}
#main-content h2 {
  font-size: 2.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003113}}
#outer-advanced {
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003116}}
#link, #downloaded-content, #inner-advanced {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003119}}
.loadingText {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003122}}
#downloaded-content {
  margin-bottom: 20px;
  margin-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003126}}
#link {
  margin: 20px auto;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003129}}
#link textarea {
  width: 100%;
  height: 60px;
  word-break: break-all;
  cursor: text !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003134}}
#link input {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003136}}
#link textarea, #link input {
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003140}}
#downloaded-content button {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003142}}
#downloaded-content .loading {
  margin-bottom: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003147}}
input#fileupload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003154}}
.passwordNotes, .explain {
  font-size: 0.85em;
  margin: 5px 0 5px 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003158}}
span.add-on {
  color: white;
  text-shadow: none !important;
  background-color: #5bb75b;
  background: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003168}}
#expiration-field .or {
  margin: 0 7px 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003170}}
#expiration-field .explain {
  margin-top: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003173}}
#inner-advanced {
  padding: 25px 10px;
  background: rgba(255, 255, 255, 0.2);
  width: 90%;
  border-radius: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003179}}
.delete {
  margin: 10px 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003182}}
.help {
  margin-left: 4px;
  border: 1px black solid;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background-color: black;
  color: white;
  text-align: center;
  display: inline-block;
  font-weight: bolder;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003195}}
#advance-toggle {
  text-decoration: none;
  color: white;
  margin: 0 0 5px 0;
  display: block;
  font-weight: bolder;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003202}}
#advanced-toggle:hover {
  color: #c8c8c8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003205}}
.status {
  margin: 20px 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003208}}
#submit {
  float: left;
  margin-right: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003211}}
#submit.loading {
  opacity: 0.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003214}}
progress {
  display: none;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003219}}
#passwordModal h3, #passwordModal h4 {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003221}}
#passwordModal input {
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003223}}
#passwordModal .modal-header {
  background: whitesmoke;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003226}}
.clear {
  float: none;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003230}}
#downloadProgress {
  margin: 5px 5px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003233}}
#uploadProgress {
  margin: 9px 5px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003236}}
.itemStatus {
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003239}}
.ajaxLoader {
  display: none;
  float: left;
  width: 24px;
  height: 24px;
  background: url("/img/ajax-loader-pacman.gif") no-repeat;
  margin: 3px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003247}}
.downloadLoader {
  margin: 0 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuelreed\/git\/securesha\.re\/public\/css\/style\.sass}line{font-family:\00003250}}
.downloadStatusText {
  float: left;
}

@media(max-width: 700px) {
  #main {
    width: 400px;
  }
  #main .title {
    margin-left: -10px;
  }
  #main .title h1 {
    width: 420px;
    font-size: 35px;
  }
  #main .title h1.small {
    font-size: 16px;
    line-height: 25px;
  }
  #main .title .intro-line {
    width: 420px;
  }
  #main .file-uploader {
    margin-bottom: 470px;
  }
}
