doctype 5
html(lang="en")
  head
    include includes/head

  body
    #main
      .bg1
      .title
        .intro-line
        h1
          | Welcome to <a href="/">Securesha.re</a>
        h1.small
          | Self-destructing, single-use file sharing. No logging. Even we can't access your data.
        .intro-line
      .file-uploader
        article#link
          .warning
        article#downloaded-content
          .loading
            .downloadStatusText
            progress#downloadProgress
            .downloadLoader.ajaxLoader
            .clear
          .fileInfo
          button
        header
          h2 Upload a File
        article#upload-form
          form(enctype="multipart/form-data").form-horizontal
            span.btn.btn-success.fileUpload
              i.icon-plus.icon-white
              span &nbsp;Choose Your File...
              input#fileupload(type='file',name='file', placeholder='Choose your file', data-url='/putfile')

            .attachedFileInfo
            #outer-advanced
              div
                a#advance-toggle(href='javascript:void(0)') <i class="icon-white icon-chevron-right"></i>Advanced Options
              .row
                #inner-advanced.span6
                  p File Password
                  #password-field.input-append
                    input#password.span5(type='text', name='password')
                  p.passwordNotes
                    | Change this password if you have shared it with the recipient previously. 
                    | The default is secure and randomly generated;
                    | keep it as-is for maximum security.
                  .delete
                    p Delete After
                  #expiration-field.control-group
                    .input-append
                      input#views.span1(type='number', name='views', value='1', min='1', max='10')
                      span.add-on View
                    span.or  OR
                    .input-append
                      input#days.span1(type='number', name='days', value='7', min='1', max='7')
                      span.add-on Days
                    .explain
              .clear
            .status
              button#submit.btn.btn-primary(type='button', value='Upload')
                i.icon-lock.icon-white
                | &nbsp; Get Secure Link
              progress#uploadProgress
              .uploadLoader.ajaxLoader
            .clear
            .itemStatus
        
    include includes/footer

