title Self-Destructing, Single-Use File Sharing
link(rel='stylesheet', href='css/style.css')
link(rel='stylesheet', href='css/bootstrap.min.css')
script(src='/vendor/jquery.js', type='text/javascript')
script(src='/vendor/bootstrap-modal.js', type='text/javascript')   
script(src='/vendor/BrowserDetect.js', type='text/javascript')
script(src='/vendor/lodash.js', type='text/javascript')
script(src='/vendor/cryptoJS/rollups/aes.js', type='text/javascript')
script(src='/app/shared.js', type='text/javascript')
script(src='/app/uploader.js', type='text/javascript')
script(src='/app/downloader.js', type='text/javascript')
script(src='/app/dom.js', type='text/javascript')
