title Your media in the right hands
link(rel='stylesheet', href='css/style.css')
link(rel='stylesheet', href='css/bootstrap.min.css')
link(rel='stylesheet', href='css/jquery.bxslider.css')
script(src='/app/BrowserDetect.js', type='text/javascript')
script(src='/app/math.uuid.js', type='text/javascript')
script(src='/app/underscore.min.js', type='text/javascript')
script(src='/app/jquery.js', type='text/javascript')
script(src='/app/bootstrap.min.js', type='text/javascript')
script(src='/app/shared.js', type='text/javascript')
script(src='/app/uploader.js', type='text/javascript')
script(src='/app/downloader.js', type='text/javascript')
script(src='/app/dom.js', type='text/javascript')
script(src='/app/jquery.bxslider.min.js', type='text/javascript')
script(src='/lib/cryptoJS/rollups/rabbit.js', type='text/javascript')
